:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 1em;
}

.directories {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding: 0 0.5em;
}
